@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('./fonts/Roboto-Regular.ttf') format('ttf'),
  url('./fonts/Roboto-Regular.woff2') format('woff2'),
  url('./fonts/Roboto-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.ttf') format('ttf'),
  url('./fonts/Roboto-Bold.woff2') format('woff2'),
  url('./fonts/Roboto-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('./fonts/Roboto-Black.ttf') format('ttf'),
  url('./fonts/Roboto-Black.woff2') format('woff2'),
  url('./fonts/Roboto-Black.woff') format('woff')
}

p {
  font-family: 'Roboto';
  font-weight: 700;
}

h1 {
  font-family: 'Roboto';
  font-weight: 300;
}